body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 80%;
}

.left { float: left; }
.right { float: right; }

div#all {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

div.menu {
  clear: both;
  margin: 0;
  padding: 0.5ex 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
div.menu p, div.menu ul {
  margin: 0;
  padding: 0;
}
div.menu li {
  display: inline;
  padding: 0 1ex;
  border-left: 1px solid gray;
}
div.menu li.first { border-left: none; }

div#top { background-color: #04A; }
div#top a, div#top p { color: white; }
div#top a { font-weight: bold; }
div#top ul.right li.first { padding-left: 4ex; }
div#top li { border-left-color: white; }

div#sub li.first { padding-left: 0; }

div#bottom { background-color: #EEE; }
div#bottom a, div#bottom a { color: black; }
div#bottom li { border-left-color: black; }

div#logo { padding: 0.5ex 0; }
p#sponsors img { vertical-align: top; }
p#sponsors {
  clear: both;
  padding: 0.5ex 0;
  margin: 0;
  color: gray;
}

.clear { clear: both; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

h1, h2 {
  clear: left;
  font-family: "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

p.error { color: #F00; }
p.success { color: #080; }
p.error, p.success { font-weight: bold; }
