body {
  margin: 0 8px;
  padding: 0;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 80%;
}

.left { float: left; }
.right { float: right; }

img { border: none; }

input.text, input.button {
  border-width: 1px;
  border-style: solid;
}

div#all {
  width: 764px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

div.menu {
  clear: both;
  margin: 0;
  padding: 0.4ex 0;
}
div.menu p, div.menu ul {
  margin: 0;
  padding: 0;
}
div.menu li {
  display: inline;
  padding: 0 1ex 2px;
  border-left: 1px solid #CCC;
}
div.menu li.first {
  border-left: none;
  padding-left: 0;
}

.lightgray { background-color: #E4E4E4; }
div.lightgray li { border-color: white; }
div.lightgray li.first { padding-left: 1ex; }

div#metamenu ul {
  padding: 0.3ex 0 0;
}
div#topmenu { margin: 0 0 1em; }
div#topmenu a { color: black; }
div#topmenu p.mockup a {
  color: red;
  font-weight: bold;
}
div#topmenu ul.right li.first { padding-left: 4ex; }

div#bottom a, div#bottom a { color: black; }

div#logo { padding: 0.5ex 0; }
p#sponsors {
  clear: both;
  padding: 0 0 1ex;
  margin: 0;
  color: gray;
  text-align: right;
}
p#sponsors img {
  margin-left: 1em;
}

div#headline {
  margin: 0;
  padding: 0 0 2em;
}
div#recent {
  position: absolute;
  left: 50%;
  margin-left: 382px;
}
table#factories,
table#browsers {
  margin: 1em 0 0;
  width: 100%;
}
table#factories input,
table#browsers input {
  padding: 0;
  margin: 0;
}
table#browsers th,
table#browsers td {
  width: 20%;
}

table { border-collapse: collapse; }
th, td {
  text-align: left;
  padding: 0 1ex 0 0;
}

p#inputurl { margin: 1em 0; }
p#inputurl input#url {
  width: 578px;
  padding: 2px 4px;
  border-color: #444 #CCC #CCC #444;
}
p#inputurl input#submit {
  width: 160px;
  font-weight: bold;
  padding: 1px 4px;
  background-color: #DDD;
  border-color: #CCC #444 #444 #CCC;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

h1 {
  position: relative;
  font-size: 36px;
  left: -2px;
}
h1, h2 {
  clear: left;
  font-family: "Trebuchet MS", Arial, sans-serif;
  margin: 0;
}

p { margin: 1ex 0; }
p.error { color: #F00; }
p.success { color: #080; }
p.error, p.success { font-weight: bold; }
div.traceback {
  text-align: left;
  border: 3px solid red;
  padding: 0 1em;
}

.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }
.relative { position: relative; }
.absolute { position: absolute; }
.clear { clear: both; }
.red { color: red; }
