{% extends "result.html" %}
{% load i18n %}

{% block title %}{{ _("password reset")|capfirst }}{% endblock %}
{% block result_title %}{{ _("password reset")|capfirst }}{% endblock %}
{% block result_class %}success{% endblock %}
{% block result_message %}{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}{% endblock %}

{% block extra_messages %}
<p>If your provider uses graylisting, it may take a few minutes.</p>
{% endblock %}
