<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{% endblock %} - Browsershots</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
{% block head_extra %}{% endblock %}
</head>
<body>
<div id="content">
{% block content%}{% endblock%}
</div>
<div id="accounts">
{% if request.user.is_authenticated %}
<span id="signedin">{{ _("signed in as")|capfirst }} <a href="/accounts/profile/">{{ request.user.username }}</a></span>
<span id="logout"><a href="/accounts/logout/">{{ _("logout")|capfirst }}</a></span>
{% else%}
<span id="login"><a href="/accounts/login/">{{ _("login")|capfirst }}</a></span>
{% endif %}
</div>
</body>
</html>
