{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ _("create a new account")|capfirst }}{% endblock %}

{% block content %}
<h1>{{ _("create a new account")|capfirst }}</h1>

{% for error in form.errors.email %}
<p class="admonition error">{{ error }}</p>
{% endfor %}

<form action="/accounts/register/" method="post">
<table>
<tr><th><label for="id_email">{{ _("email")|capfirst }}:</label></th><td>{{ form.email }}</td></tr>
<tr><th></th><td><input type="submit" value="{{ _("register")|capfirst }}" /></td></tr>
</table>
</form>

<script type="text/javascript">
document.getElementById('id_email').focus()
</script>
{% endblock %}
