{% extends "base.html" %}
{% load i18n %}
{% load human %}

{% block title %}{{ _("add a new browser version")|capfirst }}{% endblock %}

{% block content %}
<h1>{{ _("add a new browser version")|capfirst }}</h1>

<form action="/browsers/add/" method="post" id="add_browser_form">
{% for group in field_groups %}
{% for row in group %}<p>
{% for field in row %}{% if field.errors %}
{{ field.errors }}
{% endif %}{{ field.label }}: {{ field }} {{ field.help_text }}
{% endfor %}</p>
{% endfor %}<hr />
{% endfor %}
<p><input class="button" id="submit" name="submit" type="submit" value="{{ _("submit")|capfirst }}" /></p>
</form>

<h2>{{ _("other options")|capfirst }}</h2>
<p>{% blocktrans with admin_email as email %}
If your browser group or rendering engine is not available, please
write to {{ email }}.
{% endblocktrans %}</p>

<h2>{{ _("browser upgrade")|capfirst }}</h2>
<p>{% blocktrans %}
If you're upgrading the browser version (e.g. from Firefox 2.0.0.3 to
2.0.0.4), the same browser may already be registered for your factory.
In that case, the old version will be deactivated automatically.
{% endblocktrans %}</p>

<script type="text/javascript" src="/static/js/brwsniff.js"></script>

<script type="text/javascript">
function auto_select(id, text) {
  field = document.getElementById(id);
  l = field.options.length;
  for (i = 0; i < l; i++) {
    if (field.options[i].text == text) { field.selectedIndex = i; }
  }
}

auto_select("id_javascript", jsVersion());
auto_select("id_java", navigator.javaEnabled() ? "{{ _("enabled") }}" : "{{ _("disabled") }}");

flash = hasFlashPlugin();
if (flash[0] == 2) { auto_select("id_flash", flash[1]); }
if (flash[0] == 1) { auto_select("id_flash", "{{ _("disabled") }}"); }
</script>
{% endblock %}
