{% extends "base.html" %}
{% load i18n %}
{% load human %}

{% block title %}{% trans "Website Overview" %}{% endblock %}

{% block content %}
<h1>{% trans "Website Overview" %}</h1>
<p>{% blocktrans with website.url as url %}for {{ url }}{% endblocktrans %}</p>

{% for request_group in website.requestgroup_set.all %}
<h2>{% blocktrans with request_group.submitted|human_timesince as interval %}submitted {{ interval }} ago{% endblocktrans %}</h2>
{{ request_group.previews }}
{% endfor %}
{% endblock %}
