{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Screenshot requests" %}{% endblock %}

{% block content %}
<h1>{% trans "Screenshot requests" %}</h1>

{% if request_list %}
<table>
<thead>
<tr>
<th>Submitted</th>
</tr>
</thead>
<tbody>
{% for request in request_list %}
<tr class="{% cycle row1,row2 %}">
<td>{{ request.request_group.submitted|timesince }}</td>
<td>{{ request.browser_group.name }} {{ request.major }}.{{ request.minor }}</td>
<td>{{ request.platform.name }}</td>
<td>{{ request.request_group.width }}</td>
<td>{{ request.request_group.bits_per_pixel }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>{% trans "No pending requests." %}</p>
{% endif %}
{% endblock %}
