{% extends "base.html" %}
{% load i18n %}
{% load human %}

{% block title %}{% blocktrans with factory.name as name %}Screenshot Factory {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}
<h1>{% blocktrans with factory.name as name %}Screenshot Factory {{ name }}{% endblocktrans %}</h1>

<table>
<tr class="row1"><th>{{ _("operating system")|capfirst }}:</th><td>{{ factory.operating_system }}</td></tr>
<tr class="row2"><th>{{ _("architecture")|capfirst }}:</th><td>{{ factory.architecture }}</td></tr>
<tr class="row1"><th>{{ _("created")|capfirst }}:</th><td>{{ factory.created }}</td></tr>
<tr class="row2"><th>{{ _("admin")|capfirst }}:</th><td>{{ factory.admin }}</td></tr>
{% if factory.sponsor %}
<tr class="row1"><th>{{ _("sponsor")|capfirst }}:</th><td>{{ factory.sponsor }}</td></tr>
{% endif %}
</table>

<h2>{{ _("installed browsers")|capfirst }}</h2>

{% if browser_list %}
<table class="vertical browsers">
<thead>
<tr>
<th>{{ _("name")|capfirst|human_br }}</th>
<th>{{ _("short version")|capfirst|human_br }}</th>
<th>{{ _("engine")|capfirst|human_br }}</th>
<th>{{ _("Javascript")|human_br }}</th>
<th>{{ _("Java")|human_br }}</th>
<th>{{ _("Flash")|human_br }}</th>
<th>{{ _("last upload")|capfirst|human_br }}</th>
<th>{{ _("uploads per hour")|capfirst|human_br }}</th>
<th>{{ _("uploads per day")|capfirst|human_br }}</th>
<th>{{ _("queue estimate")|capfirst|human_br }}</th>
</tr>
</thead>
<tbody>
{% for browser in browser_list %}
<tr class="{% cycle row1,row2 %}{% if browser.disabled %} disabled{% endif%}"
title="{{ browser.user_agent }}">
<td>{{ browser }}</td>
<td>{{ browser.major }}.{{ browser.minor }}</td>
<td>{% if browser.engine %}{{ browser.engine }}{% endif %} {{ browser.engine_version }}</td>
<td>{{ browser.javascript }}</td>
<td>{{ browser.java }}</td>
<td>{{ browser.flash }}</td>
<td>{{ browser.last_upload|human_timesince }}</td>
<td>{% if browser.uploads_per_hour %}{{ browser.uploads_per_hour }}{% endif %}</td>
<td>{% if browser.uploads_per_day %}{{ browser.uploads_per_day }}{% endif %}</td>
<td>{{ browser.queue_estimate|human_seconds }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>{{ _("no browsers")|capfirst }}.</p>
{% endif %}

<div style="float: left; margin: 0 2em 0 0;">
<h2>{{ _("screen sizes")|capfirst }}</h2>
{% if screensize_list %}
<ul>
{% for screensize in screensize_list %}
<li>{{ screensize }}</li>
{% endfor %}
</ul>
{% else %}
<p>{{ _("default only")|capfirst }}.</p>
{% endif %}
</div>

<div style="float: left; margin: 0 2em 0 0;">
<h2>{{ _("color depths")|capfirst }}</h2>
{% if colordepth_list %}
<ul>
{% for colordepth in colordepth_list %}
<li>{{ colordepth }} bits per pixel</li>
{% endfor %}
</ul>
{% else %}
<p>{{ _("default only")|capfirst }}.</p>
{% endif %}
</div>

{% if screenshot_list %}
<h2>{{ _("recent screenshots")|capfirst }}</h2>
{% for screenshot in screenshot_list|dictsort:"id" %}
{{ screenshot.preview_div_with_browser }}
{% endfor %}
{% endif %}
{% endblock %}
