{% extends "base.html" %}
{% load shotserver04_utils %}

{% block title %}Screenshot Factories{% endblock %}

{% block content %}
<h1>Screenshot Factories</h1>
<table>
<thead>
<tr>
{% for header in header_list %}
<th{{ header.class_attrib }}><a href="{{ header.url }}">{{ header.text|capfirst }}</a></th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for factory in factory_list %}
<tr class="{% cycle row1,row2 %}">
<td><a href="{{ factory.get_absolute_url }}">{{ factory.name }}</a></td>
<td>{{ factory.operating_system }}</td>
<td>{{ factory.architecture }}</td>
<td>{% age factory.last_poll %}</td>
<td>{% age factory.last_upload %}</td>
<td>{% if factory.uploads_per_hour %}{{ factory.uploads_per_hour }}{% endif %}</td>
<td>{% if factory.uploads_per_day %}{{ factory.uploads_per_day }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% if is_paginated %}
<p>
{% if has_previous %}
<a href="/factories/page{{ previous }}/">Previous</a>
{% endif %}
Page {{ page }} of {{ pages }}
{% if has_next %}
<a href="/factories/page{{ next }}/">Next</a>
{% endif %}
</p>
{% endif %}
{% endblock %}
