{% extends "base.html" %}

{% block title %}Screenshot Factories{% endblock %}

{% block content %}
<h1>Screenshot Factories</h1>
<table>
<tr>
<th>Factory</th>
<th>Operating<br />system</th>
<th>CPU</th>
<th>Last<br />poll</th>
<th>Last<br />upload</th>
<th>Uploads<br />per hour</th>
<th>Uploads<br />per day</th>
</tr>
{% for factory in factory_list %}
<tr>
<td><a href="{{ factory.name }}/">{{ factory.name }}</a></td>
<td>{{ factory.operatingsystem }}</td>
<td>{{ factory.architecture }}</td>
<td>{% if factory.last_poll %}{{ factory.last_poll }}{% endif %}</td>
<td>{% if factory.last_upload %}{{ factory.last_upload }}{% endif %}</td>
<td>{% if factory.uploads_per_hour %}{{ factory.uploads_per_hour }}{% endif %}</td>
<td>{% if factory.uploads_per_day %}{{ factory.uploads_per_day }}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
