body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

div#content {
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
}

div#setlang {
  position: absolute;
  top: 10px;
  right: 50px;
}

ul#mainmenu {
  position: absolute;
  top: 0;
  left: 50px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul#mainmenu li {
  margin: 0;
  padding: 5px 10px 0 0;
  float: left;
  font-size: 14px;
  text-align: center;
  vertical-align: bottom;
  background-position: 50% 50%;
}
ul#mainmenu a {
  text-decoration: none;
  font-weight: bold;
}

.debug {
  font-size: x-small;
  color: gray;
}
p.debug {
  clear: both;
  margin: 20px 0 0;
}
table.debug th { text-align: left; }
table.debug td { vertical-align: top; }

table { border-collapse: collapse; }
th, td { padding: 0 0.5ex; }
tr.row1 { background-color: #EEE; }
tr.row2 { background-color: #FFF; }

h1, h2 {
  margin: 10px 0;
  clear: both;
}

pre.signature { font-weight: bold; }

div.previews { position: relative; }
div.preview { margin: 0 8px 8px 0; }
img.preview { position: absolute; }

div.large-preview,
div.screenshot-details {
  float: left;
  margin: 0 16px 16px 0;
}

ul.errorlist {
  color: black;
  background-color: #F99;
  border: 1px solid red;
  padding-top: 1ex;
  padding-bottom: 1ex;
}

img { border: none; }

div.screenshot { margin: 0 16px 0 0; }

dl { margin: 0; }
dt { font-weight: bold; }

div.background {
  background-repeat: repeat-x;
  padding: 16px 16px 0;
}
div.background h2 { margin: 0; }

div.blue {
  background-color: #016;
  background-image: url(blue.jpg);
  color: white;
}
div.blue input#id_url {
  float: left;
  width: 81%;
  margin-bottom: 16px;
}
div.blue input#submit {
  float: right;
  width: 16%;
  margin-bottom: 16px;
}
div.blue p { margin: 0; }

div.gray {
  background-color: #e4e4e4;
  background-image: url(gray.jpg);
  background-position: bottom left;
}
div.browsers {
  background-image: none;
  border-bottom: 1px solid #ccc;
}
div.options {
  border-top: 1px solid white;
}
div.options select {
  width: 130px;
}

div.floatleft {
  float: left;
  margin: 0 16px 16px 0;
}
div.clear {
  clear: both;
}

div.large-preview { position: relative; }
div.previous-screenshot {
  position: absolute;
  left: 0;
}
div.next-screenshot {
  position: absolute;
  right: 0;
}
