<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/media/css/base.css" />
{% block extra_css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% if query_list %}<h2 style="clear: both;">Database queries</h2>
<table>
<thead>
<tr><th>Time</th><th>SQL</th></tr>
</thead>
<tbody>
{% for query in query_list %}
<tr class="{% cycle row1,row2 %}">
<td>{{ query.time }}</td>
<td>{{ query.sql }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
</body>
</html>
