<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
<div id="content">
{% block content %}{% endblock %}
{% load sql_queries %}{% sql_queries %}
</div>
{% load i18n %}
<ul id="mainmenu">
<li><a href="/">{% trans "Home" %}</a></li>
<li><a href="/screenshots/">{% trans "Screenshots" %}</a></li>
<li><a href="/requests/">{% trans "Queue" %}</a></li>
<li><a href="/factories/">{% trans "Factories" %}</a></li>
<li><a href="/websites/">{% trans "Search" %}</a></li>
<li><a href="http://download.browsershots.org/">{% trans "Download" %}</a></li>
<li><a href="http://trac.browsershots.org/wiki/">{% trans "Documentation" %}</a></li>
<li><a href="http://trac.browsershots.org/blog/">{% trans "Blog" %}</a></li>
</ul>
{% load select_lang %}{% select_lang %}
</body>
</html>
