{% extends "base.html" %}
{% load common_tags %}

{% block title %}Test your web design in different browsers - Browsershots{% endblock %}

{% block content %}
<h1>Test your web design in different browsers</h1>

<form action="/" method="post">
<div class="blue background" id="inputurl">
<table>
{{ url_form }}
</table>
<input class="button" id="submit" name="submit" type="submit" value="Start" />
</div>

<div class="gray background" style="clear:both">
{% for browser_form in browser_forms %}
<div class="browsers linux" style="float:left">
<h2>{{ browser_form.platform.name }}</h2>
{{ browser_form }}
</div>
{% endfor %}
</div>

<div class="gray background" style="clear:both">
<h2>Options</h2>
{% for option in options_form %}
<div class="options {{ option.name }}" style="float:left; width:12em">
<p><label for="id_{{ option.name }}">{{ option.label }}</label><br />
{{ option }}</p>
</div>
{% endfor %}
</div>
</form>
{% endblock %}
