{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Test your web design in different browsers" %} - Browsershots{% endblock %}

{% block content %}
<h1>{% trans "Test your web design in different browsers" %}</h1>
{% if no_active_factories %}
<p>{% trans "No active screenshot factories." %}</p>
{% else %}
<form action="/" method="post">
<div class="blue background" id="inputurl">
{% if url_form.url.errors %}
{{ url_form.url.errors }}
{% else %}
<p>{{ url_form.url.label }}</p>
{% endif %}
{{ url_form.url }}
<input class="button" id="submit" name="submit" type="submit" value="{{ _("submit")|title }}" />
<div class="clear"></div>
</div>

<div class="gray background browsers" style="clear:both">
{% for browser_form in browser_forms %}{% if browser_form.fields %}
<div class="floatleft">
<h2>{{ browser_form.platform.name }}</h2>
{{ browser_form }}
</div>
{% endif %}{% endfor %}
<div class="clear"></div>
</div>

<div class="gray background options" style="clear:both">
{% for select in options_form %}
<div class="floatleft">
<label for="id_{{ select.name }}">{{ select.label }}</label><br />
{{ select }}
</div>
{% endfor %}
<div class="clear"></div>
</div>
</form>
{% endif %}
{% endblock %}
